extends layout

block content
  h1= title
  if (user)
    h3 Welcome #{user.username}
    p Welcome to #{title}
    div
      a(href="/") HOME
      a(href="/signup") SIGNUP
      a(href="/login") LOGIN
      a(href="/logout") LOG OUT 
  else
    p Welcome to #{title}
      div
        a(href="/") HOME
        a(href="/signup") SIGNUP
        a(href="/login") LOGIN