extends layout 

block content 

    h1 #{title}
    div(class="links")
        a(href="/") HOME
        a(href="/signup") SIGNUP 

    form(class="signup-form" action="/login" method="POST")
        label(for="username") Username: 
        input(type="text" id="username" name="username")
        label(for="password") Password: 
        input(type="password" id="password" name="password")
        button Log-in     