extends layout 

block content

    h1 #{title}

    if (state)
        a(href="/") Home
        h3 #{message}
    else
        a(href="/") Home
        h3 #{message}

    form(class="signup-form" method="POST")
        label(for="secretcode")
        input(type="text" name="secretcode")
        button Send  