extends layout 

block content

    h1 #{title}
    div(class="links")
        a(href="/") HOME
        a(href="/login") LOGIN 

    form(class="signup-form" method='POST')
        label(for='firstname') First Name:
        input(type='text' id='firstname' name='firstname' placeholder='First name')
        label(for='lastname') Last Name:
        input(type='text' id='lastname' name='lastname' placeholder='Last name')
        label(for='email') Email:
        input(type='email' id='email' name='email' placeholder='Email')
        label(for='username') Username:
        input(type='text' id='username' name='username' placeholder='Username')
        label(for='password') Password:
        input(type='password' id='password' name='password' minLength='6' placeholder='Password')
        button Submit