body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
div {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
a {
  color: #00B7FF;
  text-decoration: none;
}
